
body {
    background: coral;
}

h1, p, .nav-links {
    text-align: center;
}

h1 {
    margin-top: 20px;
}

p {
    margin: 20px;
}

.nav-links a {
    
    padding: 30px;
    
}

img {
    display: block;
    margin: 0 auto;
    padding: 40px;
}